/* -------------------------------- 

Primary style

-------------------------------- */



             /*Fonts and families*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
￼
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration:none;
  color:#ffffff;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
 /* font-family: 'Poiret One', cursive;	*/
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}


/********************** HOME PAGE ******************************************
 ****************************************************************/
.cd-section-1{
  width:100%;
  height:auto;
  padding:0;
  margin:auto;
  background-size:100% 100%;
  background-attachment:fixed;
  background-image:url("../img/9836055_orig.jpg");

  /*paddings*/
  text-align:center;
}
.cd-section-1 h1 {
  font-size:100px;
  color:#22283f;
}
.cd-section-1 h2{
  font-size:70px;
  color:#22283f;
}white
.cd-section-1 p{
  text-align:bottom;
  line-height:;
  text-decoration:none;
  list-style-type:none;
}
.cd-blog{
  
}
.cd-section-1 .row .social .block ul{
  display:inline-block;
  
}

.block li{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
}


#arrow {
    position:fixed; 
    right:0; 
    bottom:0;
    background-color:#22283f;
    box-shadow:0 0 10px 10px black;
}
#arrow a{
    display:flex;
    padding:10px 20px;
    cursor:pointer;
}
.arrow-wrapper #arrow a:hover{
  background-color:#BAB7B5;
}
.arrow-wrapper #arrow a:hover{
  background-color:#BAB7B5;
}
.arrow-wrapper{
   
}

/********************** github ******************************************/
.circle-1 {
	width: 60px;
	height: 60px;
	background: #151013;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #151013;
}
.circle-1:hover{
	width: 60px;
	height: 60px;
	background: #22283f;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #151013;
}
/********************** facebook ******************************************/



.circle-2 {
	width: 60px;
	height: 60px;
	background: #3b5998;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #3b5998;
}
.circle-2:hover{
	width: 60px;
	height: 60px;
	background: #22283f;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #3b5998;
}



/********************** google+ ******************************************/
.circle-3 {
	width: 60px;
	height: 60px;
	background: #d34836;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #d34836;
}
.circle-3:hover {
	width: 60px;
	height: 60px;
	background: #22283f;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #d34836;
}




/********************** linkedin ******************************************/
.circle-4{
	width: 60px;
	height: 60px;
	background: #0e76a8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #0e76a8;
}
.circle-4:hover {
	width: 60px;
	height: 60px;
	background: #22283f;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow:0 0 6px 4px #0e76a8;
}
/* Cleaner, but slightly less support: use "50%" as value */







/********************** ABOUT SECTION ******************************************
 *********************************************************.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" hre*******/
.cd-section-2{
  width:100%;
  height:auto;
  padding:0;
  background-size:100% 100%;
  background-image:url("../img/bg-10-full.jpg");
  background-attachment:fixed;
  margin:auto;
}
.cd-section-2 h2{
  text-align:center;
  color:black;
  font-size:40px;
}
.cd-section-2 .text-1{
  font-size:25px;
  color:#22283f;
  text-align:center;
}

/******************  FIELDSET  **********************/
fieldset{
  margin:auto;
  width:82%;
  box-shadow:0 0 10px 10px black;
}
.cd-section-2 .text-2{
  color:#22283f;
  font-size:inherit;
  text-align:center;
}
.cd-section-2 .text-3{
  color:#22283f;
  font-size:inherit;
  text-align:center;
}
.cd-section-2 h4{
  font-size:20px;
  text-align:center;
  height:;
}
.cd-section-2 .text-4{
  font-size:20px;
  text-align:center;
  box-shadow:0 0 10px 10px white;

}
.cd-section-2 fieldset fieldset{
  
}







/********************** PORTFOLIO SECTION ******************************************
 ****************************************************************/
.cd-section-3{
  height:800px;
  width:100%;
  padding:0;
  background-size:100% 100%;
  background-image:url("../img/bg-9-full.jpg");
  background-attachment:fixed;
  margin:auto;
}

.cd-section-3 h2{
  text-align:center;
  text-decoration:none;
  list-style-type:none;
  font-size:40px;
}
.cd-section-3 .italic-3{
  text-align:center;
}




/********************** CONTACTS SECTION ******************************************
 ****************************************************************/
.cd-section-4{
  height:680px;
  width:100%;
  padding:0;
  background-size:100% 100%;
 background-image:url("../img/bg-12-full.jpg");
  background-attachment:fixed;
  margin:auto;
}

.cd-section-4 h2{
  text-align:center;
  text-decoration:none;
  list-style-type:none;
  font-size:40px;
}
.cd-section-4 .bar-1{
  height:50px;
  width:100%;
  background-color:#BAB7B5;
}
.cd-section-4 .bar-2{
  height:100px;
  width:100%;
  background-color:black;
}						  
							  
							  
							  
							  
							  
							  
							  
							  
							  
	/********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************//********************** APP CSS  ******************************************
 ****************************************************************/						  
							  
							  
							  
							  