/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-section-1{
  margin:auto;
  background-size:100% 100%;
}
.cd-section-2{
  background-size:100% 100%;
}
.cd-section-3{
  background-size:100% 100%;
}
.cd-section-4{
  background-size:100% 100%;
}