/* -------------------------------- 

Primary style

-------------------------------- */



             /*Fonts and families*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration:none;
  color:#ffffff;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}














*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
 /* font-family: 'Poiret One', cursive;	*/
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}


/********************** HOME PAGE ******************************************
 ****************************************************************/
.cd-section-1{
  width:100%;
  padding:0;
  margin:auto;
  background-size:100% 100%;

  /*paddings*/
  text-align:center;
}
.cd-section-1 h1 {
  font-size:80px;
}
.cd-section-1 h2{
  font-size:40px;
}
.cd-section-1 p{
  text-align:bottom;
  line-height:;
  text-decoration:none;
  list-style-type:none;
}
.cd-blog{
  line-height:24;
}



#arrow {
    position:fixed; 
    right:0; 
    top:0;
    background-color:#22283f;
    box-shadow:0 0 10px 10px black;
}
#arrow a{
    display:flex;
    padding:10px 20px;
    cursor:pointer;
}
.arrow-wrapper{
  text-align:bottom;
  line-height:10;
}

/********************** ABOUT SECTION ******************************************
 ****************************************************************/
.cd-section-2{
  width:100%;
  padding:0;
  background-size:100% 100%;
  margin:auto;
}
.cd-section-2 h2{
  text-align:center;
  font-size:40px;
}
.cd-section-2 .text-1{
  font-size:25px;
  text-align:center;
}

/******************  FIELDSET  **********************/
fieldset{
  margin:auto;
  width:82%;
  box-shadow:0 0 10px 10px black;
}
.cd-section-2 .text-2{
  font-size:inherit;
  text-align:center;
}
.cd-section-2 .text-3{
  font-size:inherit;
  text-align:center;
}
.cd-section-2 h4{
  font-size:20px;
  text-align:center;
  height:400px;
}
.cd-section-2 .text-4{
  font-size:20px;
  text-align:center;
}








/********************** PORTFOLIO SECTION ******************************************
 ****************************************************************/
.cd-section-3{
  height:800px;
  width:100%;
  padding:0;
  background-size:100% 100%;
  margin:auto;
}

.cd-section-3 h2{
  text-align:center;
  text-decoration:none;
  list-style-type:none;
  font-size:40px;
}
.cd-section-3 .italic-3{
  text-align:center;
}




/********************** CONTACTS SECTION ******************************************
 ****************************************************************/
.cd-section-4{
  height:680px;
  width:100%;
  padding:0;
  background-size:100% 100%;
  margin:auto;
}

.cd-section-4 h2{
  text-align:center;
  text-decoration:none;
  list-style-type:none;
  font-size:40px;
}
.cd-section-4 .bar-1{
  height:50px;
  width:100%;
  background-color:#BAB7B5;
}
.cd-section-4 .bar-2{
  height:100px;
  width:100%;
  background-color:black;
}						  
							  
							  
							  
							  
							  
							  
							  
							  
							  