/*Css file*/ 
.css-slideshow{
   position: relative;
   height: 70px;
   width:70px;
   background-size:auto ;
   margin:0 auto;
   position:absolute;
   list-style-position:outside;
   padding-left:630px;
}
.css-slideshow figure{
   width:70px;
   position: absolute;
   margin:0 auto;
   text-align:center;
}
.css-slideshow  img{
  width:70px;
  height:70px;
position:relative;
margin:0 auto;
  
}

.css-slideshow figure{
   opacity:0;
   margin:0 auto;
}


figure:nth-child(1) {
  animation: xslide 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xslide 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xslide 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xslide 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xslide 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xslide 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xslide 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xslide 48s 0s infinite;
}

@keyframes xslide{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}
